@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background-image: url("../images/owlPattern.png");
  background-position: -40px -40px; }

#main-container {
  max-width: 960px;
  margin: 0 auto; }

#nav-container {
  background: #3b94e0;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem; }

h1 {
  color: #eee;
  text-align: left;
  font-size: 3.5rem;
  padding-left: 15px;
  width: 50%;
  border-bottom: 2px solid #eee; }

nav {
  width: 50%; }

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px; }

.nav-item {
  border-bottom: 2px solid #eee;
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 2.5rem;
  width: 100%;
  list-style: none;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .nav-item:hover {
    cursor: pointer;
    color: navy; }

.active {
  border-color: navy;
  color: navy; }

#playground-container {
  margin: 0 auto;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#playgroundGrid {
  border: 1px solid #474747;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 900px;
  max-height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.sudokuCell {
  max-width: 100px;
  max-height: 100px;
  background: #fff;
  border: 1px solid #474747;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.canHover:hover {
  cursor: pointer;
  background: #abcfff;
  border: 1px solid #474747; }

.darkerCellBg {
  background: #b8b7b7; }

#controls-main-container {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 2px;
  margin: 0 auto; }

#control-container {
  width: 300px;
  height: 100%;
  margin: 0 auto; }

.controls-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.controls {
  text-align: center;
  background: #eee;
  color: #3b94e0;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #3b94e0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 3px; }

.controls:hover {
  cursor: pointer;
  color: navy; }

#control-container-solve {
  display: none; }

.controls-2 {
  width: 50%; }

.controls-1 {
  width: 100%; }

.modal {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 1000; }

.modal-container {
  width: 300px; }

.modal-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.modal-choose-number {
  margin: 1px;
  width: calc(100% / 3);
  height: 100px;
  font-size: 40px;
  background: #3b94e0;
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.modal-choose-number:hover {
  cursor: pointer;
  background: #3567d3; }

.modal-number-empty {
  width: 100%; }

#modal-newSudoku {
  text-align: center; }

.difficulty {
  background: #3b94e0;
  max-width: 300px;
  color: #eee;
  font-size: 40px;
  padding: 20px;
  margin: 5px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all .4s;
  transition: all .4s; }

.difficulty:hover {
  cursor: pointer;
  color: navy; }

#print-container {
  text-align: center; }
  #print-container h3 {
    font-size: 30px;
    padding: 5px 25px;
    color: #eee;
    display: inline-block;
    background: #3b94e0; }

.print-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 22px; }

.print-options-item {
  text-align: center;
  font-size: 30px;
  border: 2px solid #eee;
  padding: 5px 15px;
  margin: 5px;
  background: #eee;
  color: #3b94e0;
  -webkit-transition: all .4s;
  transition: all .4s;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .print-options-item:hover {
    cursor: pointer;
    color: navy; }

.print-active {
  color: navy;
  border-color: navy; }

.editableCell {
  color: #010177; }

.notClickableModalNumber {
  background: #555;
  opacity: 0.8; }

.notClickableModalNumber:hover {
  cursor: default;
  background: #555; }

#printCanvas {
  display: none; }

@media (max-width: 320px), (max-height: 400px) {
  .modal-container {
    width: 210px; }
  .modal-choose-number {
    height: 70px;
    font-size: 40px; }
  #controls-main-container {
    height: 45px; }
  .controls {
    font-size: 18px; }
  .difficulty {
    font-size: 30px;
    padding: 20px; }
  #print-container {
    text-align: center; }
    #print-container h3 {
      font-size: 20px;
      padding: 5px 15px; }
  .print-options {
    margin-bottom: 15px; }
  .print-options-item {
    font-size: 20px; } }

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    padding-left: 5px; }
  .nav-item {
    font-size: 1.8rem; }
  .sudokuCell {
    font-size: 2.2rem; }
  .controls {
    font-size: 20px; }
  .print-options-item {
    font-size: 20px; } }
